<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prueba de Tarjetas con Handlebars</title>

  </head>
  <body>
    <div id="tarjetas-container">
      {{#each productos}}
        <div class="tarjeta">
          <h2>{{title}}</h2>
          <p>{{description}}</p>
          <p>Precio: ${{price}}</p>
          <p>Código: {{code}}</p>
          <p>Categoría: {{category}}</p>
          <p>Stock: {{stock}}</p>
          {{#if status}}
            <p>Estado: Disponible</p>
          {{else}}
            <p>Estado: Agotado</p>
          {{/if}}
        </div>
      {{/each}}
    </div>
  </body>
</html>